   

   /* Add a gray background color and some padding to the footer  rodape
    footer {
      background-color:#DCDCDC;
      padding: 25px;     #2d2d30
      border:1px solid #699;
-moz-box-shadow: 5px 5px 5px #b6ebf7;
-webkit-box-shadow: 5px 5px 5px #b6ebf7;
    }*/
   
a
{
  color: black;

}
/*corpo da pagina*/
body
{
  background-color:white;
  background-image: url('');
  /*background-image: url();*/
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
/*------------------------------------*/
/* css do cadastro e login */
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    border:none;
width:100px;
font-family: times New Roman;

}
fieldset
{
    margin:auto;
    display: inline-block;
    text-align:center;
}
fieldset
{
    text-align:left;
    display: inline-block;
    vertical-align:middle;
}
/*--------------------------------------*/
/* css de posição da aba fale conosco*/
.faleconosco
{
  margin-left:90px;

}


.fale
{
  margin-left:500px;
 

}
/*---------------------------------------*/

/*css para butões posicao lado a lado e fonte*/
.but 
{
  float: left; 
  margin-left: 20%;
  font-family:Times New Roman; 

}
/* css para centralizar botao do fale conosco login cadastro*/
.btconosco
{
  float: left; 
  margin-left: 40%;
  font-family:Times New Roman; 
}
/*------------------------------------------*/
.btfunc
{
   float: left; 
  margin-left: 10%;
  font-family:Times New Roman;
}
label{
   font-family:Times New Roman; 
}
p
{
  color:black;
}

h2
{
  color: white;
}
/**/

/*------------------------------------------------*/
/* acertar imagem do logo e css do menu */ 
 img
{
  margin-top: -19px;
  max-width: 245px;
  margin-left: -46px;
  max-height:
}
/*-------------------------------------------------*/
/*cabecalho:#E6E8FA*/
.navbar{
  background-color:;
  max-height: 90px;
}
/*-------------------------------------------------*/
b{
color:black ;

}
/*
.cabe{
  max-width: 90%;
  margin-left: 224px;
  margin-top: -55px;
 


}

.carousel-inner img {
      width: 100%; /* Set width to 100% 
      min-height: 200px;
      */
/**/
a {
  font-family:Times New Roman; 

  color: black;


}
/*css que centraliza a página */
#tudo
{
  position: relative;
  left: 50%;
  width: 740px;
  margin: 0 0 0 -370px;

border:1px solid #699;
-moz-box-shadow: 5px 5px 5px #b6ebf7;
-webkit-box-shadow: 5px 5px 5px #b6ebf7;

}
h3{
   font-family:Times New Roman;

}
/* css agendamentos cancelados e concluidos*/
.containerA{

  max-width: 600px;
  margin-left: 50px;
}

.container2{

  max-width: 600px;
  margin-left: 54%;
  margin-top: -370px;
  position: absolute;

}



.linha
{
  margin-top: -300px;
  margin-left: 110%;

}
/*-------------------------------------------*/
/*css de quem somos*/

.container3
{
  max-width: 800px;
  margin-left:20%;
  margin-top: 3%;

}
/*css de quem somos img*/

.conteiner-3
{
  max-width: 400px;
  margin-left: 70%;
  position: absolute;
  margin-top: -20%;


}
/*css do serviço*/
.panel{
  
 /* height: 330px;
  width: 300px;*/
        
        margin: 0 10px 5px 0;
        margin-top: 0px;
       background-color:;
        margin-left:20%;
        max-width: 700px;
}
.horas{
      margin-left: 60%;
      margin-top: -28%;
      position: absolute;
    /*  overflow:scroll;
      border: 1px solid;*/



  

}


/*-----------------------------------------------------------------------------------------------------------------------*/


/* bélissima*/


  /*------------------------------------------------------------------------*/
/* slides grandes*/
    .carousel-inner img {
      width: 70%; /* Set width to 100% */
      min-height: 200px;
      margin-left: 15%; /*posicao da img*/

    }

    /* Hide the carousel text when the screen is less than 600 pixels wide */
    @media (max-width: 500px) {
      .carousel-caption {
        display: none; 

      }
    }
   /*--------------------------------------------------------------------------*/



   .rodape{

    margin-top: 11%;
    

   }
   .contato{
   
    margin-left: 60%;
    max-width: 500px;
    max-height: 500px;
    margin-top: 1%;
    position: absolute;
    border: 1px ;
 

   }

   

